.escuro-alto-contraste {
    background-color: #084c4f !important;
    mask: url('/assets/img/escuro_alto_contraste.png') no-repeat center / contain;
    -webkit-mask: url('/assets/img/Fundo_escuro_alto_contraste.png') no-repeat center / contain;
}

.big {
    width: 80px;
    height: 80px;
}

// .logo-img {
//     background-color: white;
//     mask
// }